{% extends "base.html" %}
{% block content %}
<h1>Users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>SSN</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department ID</th>
            <th>User Type</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.User_ID }}</td>
            <td>{{ user.SSN }}</td>
            <td>{{ user.Name }}</td>
            <td>{{ user.Email }}</td>
            <td>{{ user.Department_ID }}</td>
            <td>{{ user.User_Type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/" class="btn btn-secondary mt-3">Back to Home</a>
{% endblock %}
